<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Todo List | What's next?</title>
	<link href="styles/settings.css" rel="stylesheet" type="text/css" />
	<script src="//use.edgefonts.net/nova-mono;knewave.js"></script> 
</head>
<body>
	<header>
		<div id="snackbar"></div>
		<% if (typeof(user) != "undefined") {%>
		<h1 id="user">Logged as: <%= user.username %></h1>
		<% } %>
		<nav>
			<ul id="nav">
				<li><a href="/dashboard/">Tasks</a></li>
				<li><a href="/logout">Logout</a></li>
			</ul>
		</nav>
	</header>
	<section>
		<h1>Profile:</h1>
		<form method="POST" action="/settings" id="form">
			<input type="text" id="firstName" name="firstName" placeholder="First name" value="<%=user.name %>" />
			<input type="text" id="email" name="email" placeholder="Email" value="<%=user.email %>" />
			<input type="password" id="password" name="password" placeholder="New password" />
			<input type="password" id="conPassword" name="conPassword" placeholder="Confirm password" />
			<div id="update">
				<input type="password" id="oldPassword" name="oldPassword" placeholder="Current password" />
				<input type="submit" id="submit" value="Update" />
			</div>
			<input type="hidden" name="username" value="<%= user.username %>">
	</form>
	</section>
	<script src="scripts/loSettings.js"></script>
	<script type="text/javascript">
	<% if (typeof(error) != "undefined") {%>
	genErr(['<%= error %>']);
	<% } %>
</script>
</body>
</html>